@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

.container{
    width: 1440px;
}

.header{
    position: sticky;
    top: 0;
    background-color: #fff;
    background-color: #DAA520;
    z-index: 999;
}
.header .row{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 40px;
}
.header .header-logo{
    width: 15%;
    line-height: 40px;

}
.header .header-menu{
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 60%;
}
.header .header-menu ul li{
    display: inline-block;
    list-style: none;
}
.header .header-menu ul li a{
    color: #111;
    text-decoration: none;
}
.header .header-right{
    width: 25%;
    text-align: end;
    line-height: 40px;
}
.header .header-right a{
    text-decoration: none;
    padding: 7px;
    color: black;
    border: 1px solid black;
}

.banner{
    display: flex;
    align-items: center;
    width: 100%;
    height: 700px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(224,255,255,1) 100%);
}
.banner .row{
    margin: 0 auto;
    width: 1200px;
    height: 400px;
    /* background-color: #FFFACD; */
}
.banner-left{
    float: left;
    width: 600px;
}
.banner-left h3{
    font-weight: 700;
    font-size: 70px;
}
.banner-left h4{
    font-weight: 400;
    font-size: 20px;
}
.banner-left .banner-btn{
    margin: 20px 0 20px;
}
.banner-left .banner-btn a{
    margin: 10px 0 10px;
    text-decoration: none;
    padding: 10px;
    background-color: #59BA41;
    color: #fff;
    border-radius: 3px;
}
.banner-left .rating{
    display: flex;
}
.banner-left .rating h5{
    padding-right: 20px;
}
.banner-right{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 600px;
    height: 400px;
}
.banner-right img{
    width: 600px;;
}

.seo-area .row{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px 30px;
    /* background-color: #ADD8E6; */
}
.seo-area .introduce{
    text-align: center;
    padding: 30px;
}
.seo-area .introduce h3{
    font-weight: 700;
    font-size: 50px;
    
}
.seo-area .excess .growing{
    position: relative;
    width: 375px;
    height: 500px;
    float: left;
    margin-right: 37.5px;
    padding: 50px;
    background: linear-gradient(180deg, rgba(255,253,207,1) 0%, rgba(255,234,196,1) 50%, rgba(136,255,147,1) 100%);
}
.seo-area .excess .growing h2{
    font-size: 30px;
}
.seo-area .excess .growing img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
}
.seo-area .excess .speed{
    position: relative;
    width: 375px;
    height: 500px;
    float: left;
    margin-right: 37.5px;
    padding: 50px;
    background: linear-gradient(180deg, rgba(255,219,193,1) 0%, rgba(255,219,193,1) 50%, rgba(255,219,193,1) 100%);
}
.seo-area .excess .speed h2{
    font-size: 30px;
}
.seo-area .excess .speed img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
}
.seo-area .excess .testing{
    position: relative;
    width: 375px;
    height: 500px;
    float: left;
    padding: 50px;
    background: linear-gradient(180deg, rgba(199,217,255,1) 0%, rgba(156,189,255,1) 50%, rgba(151,186,255,1) 100%);
}
.seo-area .excess .testing h2{
    font-size: 30px;
}
.seo-area .excess .testing img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
}

.drive-area .row{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px 30px;
    /* background-color: #5F9EA0; */
}
.drive-area .drive-title{
    padding: 30px;
    text-align: center;
}
.drive-area .drive-title h2{
    font-size: 50px;
}
.drive-area .drive-content .ux{
    display: flex;
    margin-bottom: 20px;
}
.drive-area .drive-content .ux .ux-left{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 600px;
    height: 350px;
    /* background-color: #D3D3D3; */
}
.drive-area .drive-content .ux .ux-right{
    width: 600px;
    height: 350px;
    padding: 30px;
    /* background-color: #778899; */
}
.drive-area .drive-content .ux .ux-right h4{
    margin-bottom: 20px;
    color: grey;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.drive-area .drive-content .ux .ux-right h2{
    font-size: 30px;
}
.drive-area .drive-content .more{
    display: flex;
}
.drive-area .drive-content .more .more-left{
    width: 600px;
    height: 350px;
    padding: 30px;
    /* background-color: #778899; */
}
.drive-area .drive-content .more .more-left h4{
    margin-bottom: 15px;
    color: grey;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.drive-area .drive-content .more .more-left h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.drive-area .drive-content .more .more-left p{
    font-size: 12px;
    font-weight: 300;
}
.drive-area .drive-content .more .more-left .drive-btn{
    margin-top: 25px;
}
.drive-area .drive-content .more .more-left .drive-btn a{
    text-decoration: none;
    padding: 10px 20px 10px;
    color: #fff;
    background-color: #59BA41;
}
.drive-area .drive-content .more .more-right{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 600px;
    height: 350px;
    /* background-color: #D3D3D3; */
}
.drive-area .drive-content .more .more-right img{

}

.service-area{
    background-color: #FFFACD;
}
.service-area .row{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px 30px;
}
.service-area .service-title{
    text-align: center;
    padding: 30px;
}
.service-area .service-title h2{
    font-size: 50px;
}
.service-area .service-content{
    margin-top: 30px;
}
.service-area .service-content .column{
    display: flex;
    float: left;
    width: 50%;
    height: 175px;
    /* background-color: #8FBC8F; */
}
.service-area .service-content .column .items{
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 7px 7px 11px -5px rgba(0,0,0,0.2);
}
.service-area .service-content .column .items img{
    margin-right: 30px;
}
.service-area .service-content .column .items .items-text h2{
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 500;
}
.service-area .service-content .column .items .items-text h6{
    margin-bottom: 10px;
    color: #778899;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.award-area{
    padding: 30px 0px 30px;
    background-color: #E9967A;
}
.award-area .row{
    width: 1200px;
    margin: 0 auto;
}
.award-area .award-title{
    text-align: center;
    padding: 30px;
}
.award-area .brand{
    height: 300px;
    line-height: 300px;
    text-align: center;
    background-color: #8B0000;
    color: #fff;
}

.project-area .row{
    width: 1200px;
    margin: 0 auto;
}
.project-area .project-title{
    display: flex;
}
.project-area .project-title .project-text{
    width: 60%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: #B8860B;
}
.project-area .project-title .project-view{
    width: 40%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    background-color: #D2691E;
}
.project-area .project-image{
    height: 300px;
    line-height: 300px;
    text-align: center;
    background-color: #DEB887;
}

.funfact-area .row{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px 30px;
    background-color: #87CEEB;
}
.funfact-area .funfact-title{
    padding: 30px;
    text-align: center;
}
.funfact-area .column{
    float: left;
    width: 33.33%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    background-color: #4682B4;
}

.testimonial-area{ 
    width: 1200px;
    margin: 0 auto;
    height: 300px;
    line-height: 300px;
    text-align: center;
    background-color: #5F9EA0;
    background-color: #F5DEB3;
}

.faq-area .row{
    width: 1200px;
    margin: 0 auto;
}
.faq-area .faq-title{
    float: left;
    width: 50%;
    height: 350px;
    line-height: 350px;
    text-align: center;
    background-color: #008080;
}
.faq-area .faq-items{
    float: left;
    width: 50%;
    height: 350px;
    line-height: 350px;
    text-align: center;
    background-color: #40E0D0;
}


.social-area .row{
    width: 1200px;
    margin: 0 auto;
    background-color: #E6E6FA;
}
.social-area .column{
    float: left;
    width: 50%;
    text-align: center;
}
.social-area .column .items{
    height: 50px;
    line-height: 50px;
    margin: 40px 30px 40px;
    text-align: center;
    background-color: #6A5ACD;
    color: #fff;
}

.cta-area{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    height: 300px;
    line-height: 300px;
    background-color: #DC143C;
}

.brand-area{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    line-height: 100px;
    background-color: #4682B4;
}

.footer{
    padding: 30px 0px 30px;
    background-color: #FFDAB9;
}
.footer .row{
    width: 1200px;
    margin: 0 auto;
}
.footer .column{
    float: left;
    width: 25%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    background-color: #CD853F;
}




/* Clearfix */
.cf::after{
    content: " ";
    clear: both;
    display: table;
}