@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}

.container{
    width: 1440px;
}

.header{
    position: sticky;
    top: 0;
    background-color: #fff;
    background-color: #DAA520;
    z-index: 999;
}
.header .row{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 40px;
}
.header .header-logo{
    width: 15%;
    line-height: 40px;

}
.header .header-menu{
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 60%;
}
.header .header-menu ul li{
    display: inline-block;
    list-style: none;
}
.header .header-menu ul li a{
    color: #111;
    text-decoration: none;
}
.header .header-right{
    width: 25%;
    text-align: end;
    line-height: 40px;
}
.header .header-right a{
    text-decoration: none;
    padding: 7px;
    color: black;
    border: 1px solid black;
}

.banner{
    display: flex;
    align-items: center;
    width: 100%;
    height: 700px;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 30%, rgba(224,255,255,1) 100%);
}
.banner .row{
    margin: 0 auto;
    width: 1200px;
    height: 400px;
    /* background-color: #FFFACD; */
}
.banner-left{
    float: left;
    width: 600px;
}
.banner-left h3{
    font-weight: 700;
    font-size: 70px;
}
.banner-left h4{
    font-weight: 400;
    font-size: 20px;
}
.banner-left .banner-btn{
    margin: 20px 0 20px;
}
.banner-left .banner-btn a{
    margin: 10px 0 10px;
    text-decoration: none;
    padding: 10px;
    background-color: #59BA41;
    color: #fff;
    border-radius: 3px;
}
.banner-left .rating{
    display: flex;
}
.banner-left .rating h5{
    padding-right: 20px;
}
.banner-right{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 600px;
    height: 400px;
}
.banner-right img{
    width: 400px;;
}

.seo-area .row{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px 30px;
    /* background-color: #ADD8E6; */
}
.seo-area .introduce{
    text-align: center;
    padding: 30px;
}
.seo-area .introduce h3{
    font-weight: 700;
    font-size: 50px;
    
}
.seo-area .excess .growing{
    position: relative;
    width: 375px;
    height: 500px;
    float: left;
    margin-right: 37.5px;
    padding: 50px;
    background: linear-gradient(180deg, rgba(255,253,207,1) 0%, rgba(255,234,196,1) 50%, rgba(136,255,147,1) 100%);
}
.seo-area .excess .growing h2{
    font-size: 30px;
}
.seo-area .excess .growing img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
}
.seo-area .excess .speed{
    position: relative;
    width: 375px;
    height: 500px;
    float: left;
    margin-right: 37.5px;
    padding: 50px;
    background: linear-gradient(180deg, rgba(255,219,193,1) 0%, rgba(255,219,193,1) 50%, rgba(255,219,193,1) 100%);
}
.seo-area .excess .speed h2{
    font-size: 30px;
}
.seo-area .excess .speed img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
}
.seo-area .excess .testing{
    position: relative;
    width: 375px;
    height: 500px;
    float: left;
    padding: 50px;
    background: linear-gradient(180deg, rgba(199,217,255,1) 0%, rgba(156,189,255,1) 50%, rgba(151,186,255,1) 100%);
}
.seo-area .excess .testing h2{
    font-size: 30px;
}
.seo-area .excess .testing img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
}

.drive-area .row{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px 30px;
    /* background-color: #5F9EA0; */
}
.drive-area .drive-title{
    padding: 30px;
    text-align: center;
}
.drive-area .drive-title h2{
    font-size: 50px;
}
.drive-area .drive-content .ux{
    display: flex;
    margin-bottom: 20px;
}
.drive-area .drive-content .ux .ux-left{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 600px;
    height: 350px;
    /* background-color: #D3D3D3; */
}
.drive-area .drive-content .ux .ux-right{
    width: 600px;
    height: 350px;
    padding: 30px;
    /* background-color: #778899; */
}
.drive-area .drive-content .ux .ux-right h4{
    margin-bottom: 20px;
    color: grey;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.drive-area .drive-content .ux .ux-right h2{
    font-size: 30px;
}
.drive-area .drive-content .more{
    display: flex;
}
.drive-area .drive-content .more .more-left{
    width: 600px;
    height: 350px;
    padding: 30px;
    /* background-color: #778899; */
}
.drive-area .drive-content .more .more-left h4{
    margin-bottom: 15px;
    color: grey;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.drive-area .drive-content .more .more-left h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.drive-area .drive-content .more .more-left p{
    font-size: 12px;
    font-weight: 300;
}
.drive-area .drive-content .more .more-left .drive-btn{
    margin-top: 25px;
}
.drive-area .drive-content .more .more-left .drive-btn a{
    text-decoration: none;
    padding: 10px 20px 10px;
    color: #fff;
    background-color: #59BA41;
}
.drive-area .drive-content .more .more-right{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 600px;
    height: 350px;
    /* background-color: #D3D3D3; */
}
.drive-area .drive-content .more .more-right img{

}

.service-area{
    background-color: #E8F3EB;
}
.service-area .row{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px 30px;
}
.service-area .service-title{
    text-align: center;
    padding: 30px;
}
.service-area .service-title h2{
    font-size: 50px;
}
.service-area .service-content{
    margin-top: 30px;
}
.service-area .service-content .column{
    display: flex;
    float: left;
    width: 50%;
    height: 175px;
    /* background-color: #8FBC8F; */
}
.service-area .service-content .column .items{
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 7px 7px 11px -5px rgba(0,0,0,0.2);
}
.service-area .service-content .column .items:hover{
    transform: scale(1.05);
    transition-duration: 500ms;
    cursor: pointer;
}
.service-area .service-content .column .items img{
    margin-right: 30px;
}
.service-area .service-content .column .items .items-text h2{
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 500;
}
.service-area .service-content .column .items .items-text h6{
    margin-bottom: 10px;
    color: #778899;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.award-area{
    padding: 30px 0px 0px;
    background-color: #F5F1EB;
}
.award-area .row{
    width: 1200px;
    margin: 0 auto;
}
.award-area .row .award-title{
    text-align: center;
    padding: 30px;
}
.award-area .row .award-title h2{
    font-size: 50px;
}
.award-area .row .brand img{
    width: 100%;
}

.project-area .row{
    width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}
.project-area .project-title{
    display: flex;
}
.project-area .project-title .project-text{
    width: 60%;
    /* background-color: #B8860B; */
}
.project-area .project-title .project-text h2{
    font-size: 50px;
}
.project-area .project-title .project-view{
    width: 40%;
    padding: 0px 30px 0px;
    /* background-color: #D2691E; */
}
.project-area .project-view .project-btn{
    margin-top: 25px;
}
.project-area .project-view .project-btn a{
    text-decoration: none;
    padding: 10px 20px 10px;
    color: #fff;
    background-color: #59BA41;
}
.project-area .project-image img{
    margin-top: 30px;
    width: 100%;
}

.funfact-area{
    padding-top: 100px;
}
.funfact-area .row{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0px 30px;
}
.funfact-area .funfact-title{
    padding: 30px;
    text-align: center;
}
.funfact-area .funfact-title h5{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.funfact-area .funfact-title h2{
    font-size: 50px;
}
.funfact-area .funfact-content{
    padding-top: 30px;
}
.funfact-area .funfact-content .column{
    display: flex;
    float: left;
    width: 33.33%;
}
.funfact-area .funfact-content .column .icon img{
    width: 70px;
}
.funfact-area .funfact-content .column .text-items h2{
    font-size: 50px;
}
.funfact-area .funfact-content .column .text-items h5{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.testimonial-area{ 
    padding: 100px;
}
.testimonial-area .row{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding: 50px 200px 50px;
    background-color: #F5F1EB;
}
.testimonial-area .row .testimonial-img{
    display: flex;
    align-items: center;
    padding-right: 50px;
}
.testimonial-area .row .testimonial-img img{
    width: 100px;
}
.testimonial-area .row .testimonial-text p{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.testimonial-area .row .testimonial-text h5{
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}
.testimonial-area .row .testimonial-text h6{
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.faq-area .row{
    width: 1200px;
    margin: 0 auto;
}
.faq-area .faq-title{
    float: left;
    width: 50%;
}
.faq-area .faq-title h2{
    font-size: 50px;
}
.faq-area .faq-title p{
    margin-top: 30px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}
.faq-area .faq-title h5{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.faq-area .faq-items{
    float: left;
    width: 50%;
}
.faq-area .faq-items h5{
    margin: 20px;
    font-weight: 500;
    font-size: 20px;
}
.faq-area .faq-items a{
    display: block;
    margin: 20px;
    text-decoration: none;
}

.social-area{
    padding-top: 100px;
}
.social-area .row{
    width: 1200px;
    margin: 0 auto;
}
.social-area .column{
    float: left;
    width: 50%;
    text-align: center;
}
.social-area .column .items{
    display: flex;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: solid 1px rgba(0,0,0,0.2);
}
.social-area .column .items img{
    width: 30px;
}
.social-area .column .items h4{
    margin-left: 15px;
    font-weight: 400;
}

.cta-area{
    padding-top: 100px;
}
.cta-area .row{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.cta-area .row h5{
    font-size: 17px;
    font-weight: 300;
}
.cta-area .row h2{
    font-size: 50px;
}
.cta-area .row .cta-btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.cta-area .row .cta-btn .btn-left a{
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 20px 10px;
    color: #111;
    border: solid 1px rgba(0,0,0,0.2);
}
.cta-area .row .cta-btn .btn-right a{
    text-decoration: none;
    padding: 10px 20px 10px;
    color: #fff;
    background-color: #59BA41;
}

.brand-area{
    padding-top: 100px;
}
.brand-area .row{
    width: 1200px;
    margin: 0 auto;
}
.brand-area .row img{
    width: 100%;
}

.footer{
    padding: 50px 0px 10px;
    background-color: #F5F1EB;
}
.footer h6{
    padding: 30px;
    text-align: center;
    font-size: 13px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: rgba(0,0,0,0.5)
}
.footer h6 span{
    color: #5F9EA0;
}
.footer .row{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 60px;
    border-bottom: solid 1px rgba(0,0,0,0.2);
}
.footer .row .column{
    float: left;
    width: 25%;
}
.footer .row .column h5{
    font-weight: 400;
}
.footer .row .column .btn-subscribe{
    margin-top: 20px;
}
.footer .row .column .btn-subscribe a{
    text-decoration: none;
    padding: 10px 20px 10px;
    color: #fff;
    background-color: #59BA41;
}
.footer .row .column .social-items{
    margin-top: 50px;
}
.footer .row .column .social-items img{
    width: 30px;
}
.footer .row .column ul{
    margin-top: 20px;
    padding-left: 15px;
}
.footer .row .column ul li{
    margin-bottom: 10px;

}
.footer .row .column ul li a{
    text-decoration: none;
    color: rgba(0,0,0, 0.6);
}
.footer .row .column .contact-us{
    margin-top: 20px;
}
.footer .row .column .contact-us h5{
    margin-bottom: 10px;
    font-size: 15px;
    color: rgba(0,0,0, 0.6);
}





/* Clearfix */
.cf::after{
    content: " ";
    clear: both;
    display: table;
}