*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: auto;
    border: solid;
}

.header{
    display: flex;
    position: sticky;
    top: 0;
    height: 40px;
    background-color: #fff;
    border: solid;
}
.header .header-logo{
    width: 15%;
    line-height: 40px;
    text-align: center;
}
.header .header-menu{
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 60%;

}
.header .header-menu ul li{
    display: inline-block;
    list-style: none;
    border: solid;
}
.header .header-menu ul li a{
    text-decoration: none;
}
.header .header-right{
    width: 25%;
    text-align: center;
    line-height: 40px;
    border: solid;
}

.banner{
    display: flex;
    height: 600px;
    line-height: 600px;
    border: solid;
}
.banner-left{
    width: 600px;
    text-align: center;
    border: solid;
}
.banner-right{
    width: 600px;
    text-align: center;
    border: solid;
}

.seo-area{
    border: solid;
}
.seo-area .introduce{
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    border: solid;
}

.seo-area .excess{
    display: flex;
    justify-content: center;
}
.seo-area .excess .growing{
    width: 300px;
    height: 350px;
    line-height: 350px;
    margin-right: 20px;
    text-align: center;
    border: solid;
}
.seo-area .excess .speed{
    width: 300px;
    height: 350px;
    line-height: 350px;
    margin-right: 20px;
    text-align: center;
    border: solid;
}
.seo-area .excess .testing{
    width: 300px;
    height: 350px;
    line-height: 350px;
    text-align: center;
    border: solid;
}

.drive-area{
    margin-top: 30px;
}
.drive-area .drive-title{
    padding: 10px;
    text-align: center;
    border: solid;
}
.drive-area .drive-content .ux{
    display: flex;
    margin-bottom: 20px;
    border: solid;
}
.drive-area .drive-content .ux .ux-left{
    width: 600px;
    height: 350px;
    line-height: 350px;
    text-align: center;
    border: solid;
}
.drive-area .drive-content .ux .ux-right{
    width: 600px;
    height: 350px;
    line-height: 350px;
    text-align: center;
    border: solid;
}
.drive-area .drive-content .more{
    display: flex;
    border: solid;
}
.drive-area .drive-content .more .more-left{
    width: 600px;
    height: 350px;
    line-height: 350px;
    text-align: center;
    border: solid;
}
.drive-area .drive-content .more .more-right{
    width: 600px;
    height: 350px;
    line-height: 350px;
    text-align: center;
    border: solid;
}

.service-area{
    margin-top: 30px;
}
.service-area .service-title{
    text-align: center;
    padding: 10px;
    border: solid;
}
.service-area .service-content{
    margin: 30px 70px 30px;
    border: solid;
}
.service-area .service-content .column{
    float: left;
    width: 50%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid;
}

.award-area{
    margin-top: 30px;
}
.award-area .award-title{
    text-align: center;
    padding: 10px;
    border: solid;
}
.award-area .brand{
    margin: 20px 100px 20px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    border: solid;
}

.project-area{
    margin-top: 50px;
    border: solid;
}
.project-area .project-title{
    display: flex;
    border: solid;
}
.project-area .project-title .project-text{
    width: 60%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid;
}
.project-area .project-title .project-view{
    width: 40%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: solid;
}
.project-area .project-image{
    height: 300px;
    line-height: 300px;
    text-align: center;
    border: solid;
}

.funfact-area{
    margin-top: 50px;
    border: solid;
}
.funfact-area .funfact-title{
    text-align: center;
    border: solid;
}
.funfact-area .column{
    float: left;
    width: 33.33%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    border: solid;
}

.testimonial-area{ 
    margin-top: 30px;
    height: 300px;
    line-height: 300px;
    text-align: center;
    border: solid;
}

.faq-area{
    display: flex;
    margin-top: 50px;
    border: solid;
}
.faq-area .faq-title{
    width: 50%;
    height: 350px;
    line-height: 350px;
    text-align: center;
    border: solid;
}
.faq-area .faq-items{
    width: 50%;
    height: 350px;
    line-height: 350px;
    text-align: center;
    border: solid;
}


.social-area{
    display: flex;
    margin-top: 30px;
    border: solid;
}
.social-area .column{
    width: 50%;
    text-align: center;
    border: solid;
}
.social-area .column .items{
    height: 50px;
    line-height: 50px;
    margin: 40px 30px 40px;
    text-align: center;
    border: solid;
}

.cta-area{
    margin-top: 50px;
    text-align: center;
    height: 300px;
    line-height: 300px;
    border: solid;
}

.brand-area{
    text-align: center;
    height: 100px;
    line-height: 100px;
    margin-top: 30px;
    border: solid;
}

.footer{
    margin-top: 30px;
    padding: 30px;
    border: solid;
}
.footer .column{
    float: left;
    width: 25%;
    height: 200px;
    line-height: 200px;
    text-align: center;
    border: solid;
}




/* Clearfix */
.cf::after{
    content: " ";
    clear: both;
    display: table;
}